.Modal {
    background-color: rgb(145, 191, 229);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-ou t;
    overflow-x: hidden;
}

.rotate {
    transform: rotate(45deg);
}

.icon-camera {
    width: 20px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.close-icon {
    font-size: 42px;
    cursor: pointer;
}

.close-icon:hover {
    transition: all 250ms ease-in-out;
    animation-name: icon_close_rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes icon_close_rotation {
    0% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    75% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

.modal_img_section {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
    border-radius: 8px;
    cursor: pointer;
}

.icon-camera {
    font-size: 26px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.icon-camera:hover {
    background-color: black;
    transition: all 250ms ease-in-out;
    color: white;
}

.upl_foto {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.upload_section {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_section button {
    outline: none;
    border: 1px solid black;
    padding: 7px 17px;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.upload_section button:hover {
    transition: all 250ms ease-in-out;
    background-color: white;
    color: black;
}