.post {
    width: 22rem;
    height: 25rem;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.post_wrapper {
    display: block;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 90%;
    overflow: hidden;
}

.event_img {
    overflow: hidden;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.event_img img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.post:hover img {
    transition: all 250ms ease-in-out;
    transform: scale(1.05);
    border-radius: 8px;
    overflow: hidden;
}

.event_info {
    display: block;
}

.event_head h2 {
    font-size: 24px;
}

.event_info_links,
.dateAndTime {
    display: flex;
    justify-content: space-between;
}

.event_info_links a {
    text-decoration: none;
}

.event_gmeet a {
    padding: 7px 17px !important;
    background-color: rgb(125, 185, 241);
    border-radius: 4px;
    color: black;
}

.event_gmeet a:hover {
    transition: 250ms all ease-in-out;
    background-color: rgb(53, 137, 216);
    color: white;
}

.event_form a {
    padding: 7px 17px !important;
    color: black;
}

.event_form a:hover {
    transition: 250ms all ease-in-out;
    padding: 7px 17px !important;
    background-color: rgb(125, 185, 241);
    border-radius: 4px;
    color: black;
}

.dateAndTime p {
    color: rgb(42, 42, 42)
}

.editing {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.update_icon {
    color: rgb(125, 185, 241);
}

.del_icon {
    color: rgb(231, 41, 27);
}

@media(max-width:768px) {
    .post {
        width: 16.7rem;
        height: 20rem;
        overflow: hidden
    }
    .post_wrapper {
        display: flex;
        flex-direction: column;
    }
    .event_info {
        display: flex;
        flex-direction: column;
    }
    .event_head h2 {
        font-size: 20px;
    }
    .icon {
        font-size: 24px
    }
    .event_form a,
    .event_gmeet a {
        font-size: 5px 12px;
        font-size: 14px;
    }
}